adal>=1.2,<1.3
asn1crypto>=0.24,<0.25
astroid>=2.2,<2.3
cachetools>=5.3.3,<5.4
certifi==2023.7.22
cffi>=1.12,<1.13
chardet>=3.0,<3.1
click>=8.1.7,<8.2
clickclick>=20.10.2,<20.11
connexion>=2.14.2,<2.15
cryptography>=41.0,<41.1
Flask>=2.2.5,<2.3
google-auth>=2.16.3,<2.17
idna>=3.4,<3.5
inflection>=0.5.1,<0.6
isort>=4.3,<4.4
itsdangerous>=2.1.2,<2.2
Jinja2>=3.0.3,<3.1
jsonschema>=4.23,<4.24
kafka-python>=2.0,<2.1
# CSM 1.6 moved to Kubernetes 1.24, so use client v24.x to ensure compatability
kubernetes>=24.2,<24.3
lazy-object-proxy>=1.3,<1.4
MarkupSafe>=2.1.5,<2.2
mccabe>=0.6.1,<0.7
oauthlib>=3.2.2,<3.3
openapi-spec-validator>=0.2,<0.3
pyasn1>=0.4.8,<0.5
pyasn1-modules>=0.2.8,<0.3
pycparser>=2.19,<2.20
PyJWT>=1.7,<1.8
pylint>=2.3,<2.4
python-dateutil>=2.6,<2.7
PyYAML>=6.0.1,<6.1
redis>=5.0,<5.1
requests>=2.31,<2.32
requests-oauthlib>=1.3.1,<1.4
requests-retry-session>=1.0,<1.1
rsa>=4.7.2,<4.8
swagger-ui-bundle==0.0.9
testtools>=2.3,<2.4
typed-ast>=1.3,<1.4
urllib3>=1.26,<1.27
websocket-client>=1.5.3,<1.6
Werkzeug>=2.2.3,<2.3
wrapt>=1.11,<1.12
