appdirs>=1.4.4,<1.5
async-timeout>=5.0.1,<5.1
attrs>=26.1.0,<26.2
CacheControl>=0.12.10,<0.13
cachetools>=5.3.3,<5.4
certifi==2023.7.22
charset-normalizer>=2.0.7,<2.1
click>=8.1.7,<8.2
clickclick>=20.10.2,<20.11
colorama>=0.4.4,<0.5
connexion>=2.14.2,<2.15
contextlib2>=21.6.0,<21.7
distlib>=0.3.3,<0.4
distro>=1.6.0,<1.7
Flask>=2.2.5,<2.3
google-auth>=2.16.3,<2.17
html5lib>=1.1,<1.2
hvac>=2.4.0,<2.5
idna>=3.4,<3.5
importlib_metadata>=8.7.1,<8.8
inflection>=0.5.1,<0.6
itsdangerous>=2.1.2,<2.2
Jinja2>=3.0.3,<3.1
jsonschema>=4.23,<4.24
jsonschema-specifications>=2025.9.1,<2025.9.2
kafka-python>=2.0,<2.1
# CSM 1.6 moved to Kubernetes 1.24, so use client v24.x to ensure compatability
kubernetes>=24.2,<24.3
lockfile>=0.12.2,<0.13
MarkupSafe>=2.1.5,<2.2
more-itertools>=10.8,<10.9
msgpack>=1.0.2,<1.1
oauthlib>=3.2.2,<3.3
openapi-spec-validator>=0.2,<0.3
ordered-set>=4.0.2,<4.1
pep517>=0.12.0,<0.13
progress>=1.6,<1.7
pyasn1>=0.6.2,<0.7
pyasn1-modules>=0.4.2,<0.5
pyparsing>=2.4.7,<2.5
python-dateutil>=2.6,<2.7
PyYAML>=6.0.1,<6.1
readerwriterlock>=1.0,<1.1
redis>=5.0,<5.1
referencing>=0.36.2,<0.37
requests>=2.31,<2.32
requests-oauthlib>=1.3.1,<1.4
retrying>=1.3.3,<1.4
rpds-py>=0.27.1,<0.28
rsa>=4.7.2,<4.8
six>=1.16.0,<1.17
swagger-ui-bundle==0.0.9
toml>=0.10.2,<0.11
tomli>=1.2.2,<1.3
typing_extensions>=4.15.0
ujson>=5.11.0,<5.12
urllib3>=1.26,<1.27
webencodings>=0.5.1,<0.6
websocket-client>=1.5.3,<1.6
Werkzeug>=2.2.3,<2.3
zipp>=3.23.1,<3.24
