adal>=1.2,<1.3
asn1crypto>=0.24,<0.25
astroid>=4.0,<4.1
types-awscrt>=0.27.2
cachetools>=5.5.2,<5.6
certifi==2025.10.5
cffi>=1.17,<1.18
chardet>=5.2,<5.3
click>=8.3.0,<8.4
clickclick>=20.10.2,<20.11
connexion>=2.14.2,<2.15
cryptography>=46.0,<46.1
Flask>=2.2.5,<2.3
google-auth>=2.42.1,<2.43
hiredis>=3.3,<3.4
idna>=3.11,<3.12
inflection>=0.5.1,<0.6
isort>=4.3,<4.4
itsdangerous>=2.2,<2.3
Jinja2>=3.1.6,<3.2
jsonschema>=4.25,<4.26
types-jsonschema>=4.25,<4.26
jsonschema-specifications==2025.9.1
kafka-python>=2.0,<2.1
# CSM 1.7 uses Kubernetes 1.32, so use client v32.x to ensure compatability
kubernetes>=32.0.1,<33.0
lazy-object-proxy>=1.12,<1.13
MarkupSafe>=3.0.2,<3.1
mccabe>=0.7,<0.8
oauthlib>=3.3.1,<3.4
openapi-spec-validator>=0.2,<0.3
pyasn1>=0.6.1,<0.7
pyasn1-modules>=0.4.2,<0.5
pycparser>=2.23,<2.24
PyJWT>=2.10,<2.11
python-dateutil>=2.9,<2.10
types-python-dateutil>=2.9,<3.0
PyYAML>=6.0.1,<6.1
redis>=7.1,<7.2
requests>=2.32,<2.33
requests-oauthlib>=2.0,<2.1
requests-retry-session>=0.5,<0.6    ; python_version < '3.9'
requests-retry-session>=1.0,<1.1    ; python_version >= '3.9' and python_version < '3.10'
requests-retry-session>=2.0,<2.1    ; python_version >= '3.10' and python_version < '3.11'
requests-retry-session>=3.0,<3.1    ; python_version >= '3.11' and python_version < '3.12'
requests-retry-session>=4.0,<4.1    ; python_version >= '3.12' and python_version < '3.13'
requests-retry-session>=5.0,<5.1    ; python_version >= '3.13'
rsa>=4.9.1,<4.10
swagger-ui-bundle==0.0.9
testtools>=2.7,<2.8
typed-ast>=1.5,<1.6
urllib3>=1.26,<1.27
websocket-client>=1.9.0,<1.10
Werkzeug>=2.2.3,<2.3
wrapt>=1.17,<1.18
